<div class="card">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">
            General Settings
        </span>  
        
        <span class="float-end">
            <button type="button" class="btn btn-link ms-4" title="Show Help Doc" v-on:click="send_load_help_doc('Staff Parameters General')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span>
    </div>
    <div class="card-body">        
       
        <!-- parameterset settings -->        
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.period_count.label}}:
            </div>
            <div class="col text-start">
                [[parameter_set.period_count]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.period_length.label}}:
            </div>
            <div class="col text-start">
                [[parameter_set.period_length]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.night_length.label}}:
            </div>
            <div class="col text-start">
                [[parameter_set.night_length]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.break_frequency.label}}:
            </div>
            <div class="col text-start">
                [[parameter_set.break_frequency]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.break_length.label}}:
            </div>
            <div class="col text-start">
                [[parameter_set.break_length]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.show_instructions.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.show_instructions=='True'">Yes</span><span v-else>No</span>                
            </div>  
        </div> 
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.instruction_set.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.instruction_set.label]]                
            </div>  
        </div> 
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.survey_required.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.survey_required=='True'">Yes</span><span v-else>No</span>                
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.prolific_mode.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.prolific_mode=='True'">Yes</span><span v-else>No</span>                
            </div>  
        </div>   
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.interaction_length.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.interaction_length]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.interaction_range.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.interaction_range]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.cool_down_length.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.cool_down_length]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.health_loss_per_second.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.health_loss_per_second]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.heath_gain_per_sleep_second.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.heath_gain_per_sleep_second]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.consumption_alpha.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.consumption_alpha]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.consumption_beta.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.consumption_beta]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.cents_per_second.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.cents_per_second]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.attack_cost.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.attack_cost]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.attack_damage.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.attack_damage]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.sleep_benefit.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.sleep_benefit]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.allow_stealing.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.allow_stealing=='True'">Yes</span><span v-else>No</span>                         
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.world_width.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.world_width]]                 
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.world_height.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.world_height]]                          
            </div>  
        </div> 
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.field_width.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.field_width]]                 
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.field_height.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.field_height]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.house_width.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.house_width]]                 
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.house_height.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.house_height]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.avatar_scale.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.avatar_scale]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.avatar_bound_box_percent.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.avatar_bound_box_percent]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.production_effort.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.production_effort]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.max_grove_harvests.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.max_grove_harvests]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.chat_mode.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.chat_mode]]
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.test_mode.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.test_mode=='True'">Yes</span><span v-else>No</span>                
            </div>  
        </div>
        <div class="row justify-content-center">
            <div class="col-md text-center mb-2 mt-2">
                <button class="btn btn-outline-primary"
                        type="button"
                        title="General Settings"
                        v-bind:disabled="session.started || reconnecting || working"
                        v-on:click="show_edit_parameter_set()">
                    Edit <i class="far fa-edit"></i>
                </button>
            </div>
        </div>
        
    </div>                    
</div> 