{% load crispy_forms_tags %}
<!--interaction Modal -->
<div class="modal fade " 
     id="avatar_hat_modal" 
     data-bs-backdrop="static" 
     data-bs-keyboard="false" 
     tabindex="-1" 
     aria-labelledby="avatar_hat_modal" 
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header fw-bold" v-if="selected_avatar.avatar">
                Trade Hats with [[session.parameter_set.parameter_set_players[selected_avatar.avatar.parameter_set_player_id].id_label]]?
                
                <span class="float-end">

                    <button type="button" class="btn btn-link" title="Show Help" v-on:click="send_load_help_doc_subject('Avatar hat')">
                        <i class="far fa-question-circle"></i> 
                    </button>
                    
                </span>
            </div>
            <div class="modal-body" v-if="session">              
                
                <div class="row align-items-center text-center fw-bold" v-if="selected_avatar.avatar">

                    <div class="col text-center">
                        <div class="col text-center">
                           Your Hat
                        </div>
                        <div class="col text-center">
                            <img class="field_modal_icons" 
                                 v-bind:src="'/static/' + session.parameter_set.parameter_set_hats[session.world_state.avatars[session_player.id].parameter_set_hat_id].texture + '.png'" />
                        </div>                        
                    </div>
                    <div class="col text-center">
                        <div>
                            Their Hat
                        </div>
                        <div class="col text-center">
                            <img class="field_modal_icons" 
                                v-bind:src="'/static/' + session.parameter_set.parameter_set_hats[selected_avatar.avatar.parameter_set_hat_id].texture + '.png'" />
                        </div>
                    </div>
                </div>           
                
                <div class="row mt-4 border-top pt-3">
                    <div class="col text-end" v-if="selected_avatar.avatar">    
                        <button type="button"
                                class="btn btn-outline-danger me-2"
                                v-on:click = "send_hat_avatar_cancel()"                    
                                v-bind:disabled="reconnecting || 
                                                    working ">
                            <span v-if="hat_trade_status=='open' || hat_trade_status=='proposal'">
                                Cancel <i class="fas fa-ban"></i>
                            </span>
                            <span v-if="hat_trade_status=='proposal_received'">
                                Reject <i class="fas fa-ban"></i>
                            </span>
                        </button>
                                        
                        <button type="button"
                                class="btn btn-outline-success"
                                v-on:click = "send_hat_avatar()"                   
                                v-bind:disabled="reconnecting || 
                                                    working || 
                                                    hat_trade_status == 'proposal' ||
                                                    session.world_state_avatars.session_players[session_player.id].cool_down>0 ||
                                                    (session.world_state_avatars.session_players[selected_avatar.target_player_id].interaction>0 &&
                                                     !session.world_state_avatars.session_players[session_player.id].frozen) || 
                                                    selected_avatar.avatar.sleeping">
                            <span v-if="hat_trade_status=='open' || hat_trade_status=='proposal'">
                                Propose <i class="fab fa-redhat"></i> <i class="fas fa-exchange-alt"></i> <i class="fab fa-redhat"></i>
                            </span>

                            <span v-if="hat_trade_status=='proposal_received'">
                                Accept <i class="fab fa-redhat"></i> <i class="fas fa-exchange-alt"></i> <i class="fab fa-redhat"></i>
                            </span>
                        
                        </button>
                        
                    </div>
                </div>

                <div class="row mt-4" v-if="selected_avatar.avatar">
                    <div class="col text-center">
                        <div v-if="hat_trade_status == 'proposal'">
                            Waiting for a response from [[session.parameter_set.parameter_set_players[selected_avatar.avatar.parameter_set_player_id].id_label]].
                        </div>
                        <div v-if="hat_trade_status == 'proposal_received'">
                           Accept trade proposal?
                        </div>
                        <div v-if = "session.world_state_avatars.session_players[session_player.id].cool_down>0">
                            Cooling down ... [[session.world_state_avatars.session_players[session_player.id].cool_down]]
                        </div>
                        <div v-if = "session.world_state_avatars.session_players[selected_avatar.target_player_id].interaction>0 &&
                                    !session.world_state_avatars.session_players[session_player.id].frozen">
                            Already interacting ... [[session.world_state_avatars.session_players[selected_avatar.target_player_id].interaction]]
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>