{% load crispy_forms_tags %}
<!--interaction Modal -->
<div class="modal fade " 
     id="avatar_attack_modal" 
     data-bs-backdrop="static" 
     data-bs-keyboard="false" 
     tabindex="-1" 
     aria-labelledby="avatar_attack_modal" 
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header fw-bold" v-if="selected_avatar.avatar">
                Attack [[session.parameter_set.parameter_set_players[selected_avatar.avatar.parameter_set_player_id].id_label]]?
                
                <span class="float-end">
                    <button type="button" class="btn btn-link" title="Show Help" v-on:click="send_load_help_doc_subject('Avatar attack')">
                        <i class="far fa-question-circle"></i> 
                    </button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </span>
            </div>
            <div class="modal-body" v-if="session">              
                
                <div class="row align-items-center text-center fw-bold" v-if="selected_avatar.avatar" id="div_id_good_two_move">
                    <div class="col-9 text-end">
                        Health Cost to You:
                    </div>  
                    <div class="col text-start">
                        [[session.parameter_set.attack_cost]]
                    </div>
                </div>

                <div class="row align-items-center text-center fw-bold" v-if="selected_avatar.avatar" id="div_id_good_three_move">
                    <div class="col-9 text-end">
                        Health Damage to [[session.parameter_set.parameter_set_players[selected_avatar.avatar.parameter_set_player_id].id_label]]:
                    </div>  
                    <div class="col text-start">
                       [[session.parameter_set.attack_damage]]
                    </div>
                </div>
            
                <div class="row mt-4 border-top pt-3">
                    <div class="col text-end" v-if="selected_avatar.avatar">    
                        <span class="me-4 " v-if="session.world_state_avatars.session_players[session_player.id].cool_down>0">
                            <strong>Cooling ... [[session.world_state_avatars.session_players[session_player.id].cool_down]]</strong>
                        </span>                   

                        <button type="button"
                                class="btn btn-outline-danger"
                                v-on:click = "send_attack_avatar()"
                                title="Attack the selected avatar."                       
                                v-bind:disabled="reconnecting || 
                                                 working || 
                                                 session.world_state_avatars.session_players[session_player.id].cool_down>0 ||
                                                 selected_avatar.avatar.sleeping">
                            Attack <i class="fas fa-fist-raised"></i>
                        </button>
                    </div>
                </div>           
                
                <div class="row">
                    <div class="col text-center">
                        <span id="div_id_attack_avatar_button"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>