{% load crispy_forms_tags %}
<!--interaction Modal -->
<div class="modal fade " 
     id="avatar_modal" 
     data-bs-backdrop="static" 
     data-bs-keyboard="false" 
     tabindex="-1" 
     aria-labelledby="avatar_modal" 
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header fw-bold" v-if="selected_avatar.avatar">
                Move Fruit to [[session.parameter_set.parameter_set_players[selected_avatar.avatar.parameter_set_player_id].id_label]]
            </div>
            <div class="modal-body">
                
                <div class="row align-items-center" v-if="selected_avatar.avatar">
                    <div class="col-4 text-center">
                        <img class="field_modal_icons" v-bind:src="'/static/' + selected_avatar.parameter_set_player.good_one.toLowerCase() + '.png'" />
                    </div>  
                    <div class="col" id="div_id_good_one_harvest">
                        <input type="number" 
                           class="form-control-lg fw-bold"
                           v-model="selected_avatar.good_one_move"
                           min="0"
                           max="999"
                           step="1"
                           id="good_one_move">                           
                    </div>
                </div>
                      
                <div class="row align-items-center" v-if="selected_avatar.avatar">
                    <div class="col-4 text-center">
                        <img class="field_modal_icons" v-bind:src="'/static/' + selected_avatar.parameter_set_player.good_two.toLowerCase() + '.png'" />
                    </div>  
                    <div class="col" id="div_id_good_two_harvest">
                        <input type="number" 
                           class="form-control-lg fw-bold"
                           v-model="selected_avatar.good_two_move"
                           min="0"
                           max="999"
                           step="1"
                           id="good_two_move">                           
                    </div>
                </div>

                <div class="row align-items-center" v-if="selected_avatar.avatar">
                    <div class="col-4 text-center">
                        <img class="field_modal_icons" v-bind:src="'/static/' + selected_avatar.parameter_set_player.good_three.toLowerCase() + '.png'" />
                    </div>  
                    <div class="col" id="div_id_good_three_harvest">
                        <input type="number" 
                           class="form-control-lg fw-bold"
                           v-model="selected_avatar.good_three_move"
                           min="0"
                           max="999"
                           step="1"
                           id="good_three_move">                           
                    </div>
                </div>
            
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-primary mr-2"
                        v-on:click = "cancel_move_fruit()"
                        title="Cancel Interaction"                       
                        v-bind:disabled="reconnecting || working">
                    Cancel <i class="fas fa-ban"></i>
                </button>
                
                <button type="button"
                        class="btn btn-outline-primary"
                        v-on:click = "send_move_fruit()"
                        title="Submit Interaction"                       
                        v-bind:disabled="reconnecting || working">
                    Move <i class="fas fa-sign-in-alt"></i>
                </button>

            </div>
        </div>
    </div>
</div>