<div class="row align-items-center text-center fw-bold mb-2 mt-2">
    <div class="col text-center h4"> 
        [[session.parameter_set.parameter_set_players[incoming_hat_offer.avatar.parameter_set_player_id].id_label]] offered you their truce hat.

        <span class="float-end">
            <button type="button" class="btn btn-link" title="Show Help" v-on:click="send_load_help_doc_subject('Avatar hat')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span>
    </div>
</div>

<div class="row align-items-center text-center">
    <div class="col text-center">
        <img class="field_modal_icons"  
             v-bind:src="'/static/' + session.parameter_set.parameter_set_hats[get_group_hat_for_player(incoming_hat_offer.source_player_id).id].texture + '.png'" />                     
    </div>
</div>

<div class="row mt-4 mb-2">
    <div class="col text-center" v-if="incoming_hat_offer.avatar">    
        <button type="button"
                class="btn btn-outline-danger me-2"
                v-if="hat_trade_status=='proposal_received'"
                v-on:click = "send_hat_avatar_cancel()"                    
                v-bind:disabled="reconnecting || 
                                 working ">
                                 
                Reject <i class="fas fa-ban"></i>
        </button>
                        
        <button type="button"
                class="btn btn-outline-success"
                v-on:click = "send_hat_avatar_response()"                   
                v-bind:disabled="reconnecting || 
                                 working">

            <span v-if="hat_trade_status=='open' || hat_trade_status=='proposal'">
                Offer Hat <i class="fab fa-redhat"></i>
            </span>

            <span v-if="hat_trade_status=='proposal_received'">
                Accept Hat <i class="fab fa-redhat"></i>
            </span>
        
        </button>
        
    </div>

    <!-- <div class="row mt-4" v-if="incoming_hat_offer.avatar">
        <div class="col text-center fw-bold">
            <div v-if = "session.world_state_avatars.session_players[session_player.id].cool_down>0">
                You are cooling down ... [[session.world_state_avatars.session_players[session_player.id].cool_down]]
            </div>
            <div v-if = "session.world_state_avatars.session_players[incoming_hat_offer.target_player_id].cool_down>0">
                They are cooling down ... [[session.world_state_avatars.session_players[incoming_hat_offer.target_player_id].cool_down]]
            </div> 
            <div v-if = "incoming_hat_offer.avatar.parameter_set_hat_id">
                The hat was accepted.
            </div>                           
        </div>
    </div> -->

    <!-- <div class="row mt-4 fw-bold" v-if="avatar_hat_error">
        <div class="col text-center">                  
            Error: [[avatar_hat_error]]  
        </div>
    </div> -->
</div>