{% load crispy_forms_tags %}
<!--interaction Modal -->
<div class="modal fade " 
     id="house_modal" 
     data-bs-backdrop="static" 
     data-bs-keyboard="false" 
     tabindex="-1" 
     aria-labelledby="house_modal" 
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header fw-bold" v-if="selected_house.house">
               <span v-if="selected_house.house.session_player==session_player.id"> House: [[selected_house.parameter_set_player.id_label]] (You)</span>
               <span v-else> House: [[selected_house.parameter_set_player.id_label]]</span>

                <span class="float-end">
                    <button type="button" class="btn btn-link" title="Show Help" v-on:click="send_load_help_doc_subject('House')">
                        <i class="far fa-question-circle"></i> 
                    </button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </span>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col text-center">
                        <div v-if="selected_house.house && selected_house.house.session_player==session_player.id">
                            <select class="form-select form-select-lg mb-3 fw-bold text-center" 
                                aria-label="Avatar to house direction"
                                v-model="selected_house.direction">
                                <option value="avatar_to_house">Avatar -> House</option>
                                <option value="house_to_avatar">House -> Avatar</option>
                            </select>
                        </div>
                        <div v-else class="fw-bold text-center h5">
                            Avatar -> House
                        </div>
                        
                    </div>
                </div>

                <div class="row align-items-center text-center fw-bold" v-if="selected_house.house" id="div_id_good_one_move_house">
                    <div class="col-4 text-center">
                        <img class="field_modal_icons" v-bind:src="'/static/' + selected_house.good_one.toLowerCase() + '.png'" />
                    </div>  
                    <div class="col text-start" id="div_id_good_one_harvest">
                        <input type="number" 
                           class="transfer_model_input form-control-lg fw-bold"
                           v-model="selected_house.good_one_move"
                           min="0"
                           max="999"
                           step="1"                           
                           id="good_one_move_house">                   
                          
                           of <span v-if="selected_house.direction=='avatar_to_house'">[[selected_house.good_one_avatar_available]]</span>
                              <span v-else>[[selected_house.good_one_house_available]]</span>
                    </div>                    
                </div>
                      
                <div class="row align-items-center text-center fw-bold" v-if="selected_house.house" id="div_id_good_two_move_house">
                    <div class="col-4 text-center">
                        <img class="field_modal_icons" v-bind:src="'/static/' + selected_house.good_two.toLowerCase() + '.png'" />
                    </div>  
                    <div class="col text-start" id="div_id_good_two_harvest">
                        <input type="number" 
                           class="transfer_model_input form-control-lg fw-bold"
                           v-model="selected_house.good_two_move"
                           min="0"
                           max="999"
                           step="1"
                           id="good_two_move_house">     
                           
                           of <span v-if="selected_house.direction=='avatar_to_house'">[[selected_house.good_two_avatar_available]]</span>
                              <span v-else>[[selected_house.good_two_house_available]]</span>
                    </div>
                </div>

                <div class="row align-items-center text-center fw-bold" 
                     v-if="selected_house.house && session.parameter_set.good_mode == 'Three'" 
                     id="div_id_good_three_move_house">
                    <div class="col-4 text-center">
                        <img class="field_modal_icons" v-bind:src="'/static/' + selected_house.good_three.toLowerCase() + '.png'" />
                    </div>  
                    <div class="col text-start" id="div_id_good_three_harvest">
                        <input type="number" 
                           class="transfer_model_input form-control-lg fw-bold"
                           v-model="selected_house.good_three_move"
                           min="0"
                           max="999"
                           step="1"
                           id="good_three_move_house">         
                           
                           of <span v-if="selected_house.direction=='avatar_to_house'">[[selected_house.good_three_avatar_available]]</span>
                              <span v-else>[[selected_house.good_three_house_available]]</span>
                    </div>
                </div>
            
                <div class="row text-end mt-4 border-top pt-2">
                    <div class="col text-end">
                        <button type="button"
                                class="btn btn-outline-primary me-2"
                                v-on:click = "select_all_fruit_house()"
                                title="Select all fruit to move."                       
                                v-bind:disabled="reconnecting || working">
                            Select All <i class="fas fa-check-double"></i>
                        </button>
                                    
                        <button type="button"
                                class="btn btn-outline-primary"
                                v-on:click = "send_move_fruit_house()"
                                title="Move fruit to selected house."                       
                                v-bind:disabled="reconnecting || 
                                                 working ||
                                                 (session.world_state.current_experiment_phase == 'Instructions' && 
                                                  session_player.current_instruction != instructions.action_page_house)">
                            Move <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row text-end mt-3" v-if="selected_house.house && selected_house.house.session_player==session_player.id">
                    <div class="col text-end">
                        
                        <button type="button"
                                class="btn btn-outline-primary"
                                v-on:click = "send_sleep()"
                                title="Sleep now?"                       
                                v-bind:disabled="reconnecting || 
                                                 working ||
                                                 session.world_state.time_remaining > session.parameter_set.night_length+5 ||
                                                 (session.world_state.current_experiment_phase == 'Instructions' && 
                                                  session_player.current_instruction != instructions.action_page_sleep)">
                               
                            Sleep <i class="fas fa-bed"></i>
                        </button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>