{% load crispy_forms_tags %}
<!--patch Modal -->
<div class="modal fade " 
     id="patch_modal" 
     data-bs-backdrop="static" 
     data-bs-keyboard="false" 
     tabindex="-1" 
     aria-labelledby="patch_modal" 
     aria-hidden="true"
    >

    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header fw-bold">
                Patch
                <span class="float-end">
                    <button type="button" class="btn btn-link" title="Show Help" v-on:click="send_load_help_doc_subject('Patch')">
                        <i class="far fa-question-circle"></i> 
                    </button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </span>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col text-center h5">Harvest <span v-if="selected_patch.patch">[[selected_patch.patch.good]]</span></div>
                </div>

                <div class="row align-items-center text-center fw-bold mt-2" v-if="selected_patch.patch" id="div_id_patch_harvest">
                    <div class="col text-end">
                        <img class="patch_modal_icons" v-bind:src="'/static/' + selected_patch.patch.good.toLowerCase() + '.png'" />
                    </div>  
                    <div class="col h1 text-start">
                        [[selected_patch.harvest_amount]]
                    </div>                    
                </div> 
                
                <div class="row mt-4 border-top pt-3" v-if="selected_patch.patch">

                    <div class="col text-end">
                        <span v-if="working" class="me-2">
                            <i class="fas fa-spinner fa-spin"></i>
                        </span>

                        <span class="me-4 " v-if="check_truce_hat_binding(selected_patch.patch.parameter_set_group)">
                            <strong>You have their hat.</strong>
                        </span>

                        <button type="button"
                                class="btn btn-outline-primary"
                                v-on:click = "send_patch_harvest()"
                                title="Harvest the selected patch."                       
                                v-bind:disabled="reconnecting || 
                                                 working || 
                                                 selected_patch.harvest_amount==0 ||
                                                 check_truce_hat_binding(selected_patch.patch.parameter_set_group) ||
                                                 (session.world_state.current_experiment_phase == 'Instructions' && session_player.current_instruction != instructions.action_page_harvest)">
                            Harvest <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>

                <div class="row mt-4 fw-bold" v-if="patch_harvest_error">
                    <div class="col text-center">                  
                        Error: [[patch_harvest_error]]  
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>