<div class="card">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">
            Groves ([[ Object.keys(parameter_set.parameter_set_groves).length]]) 
        </span>      

        <span class="float-end">
            <button type="button" class="btn btn-link ms-4" title="Show Help Doc" v-on:click="send_load_help_doc('Staff Parameters Groves')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span> 
                
    </div>
    <div class="card-body" >        

        <div class="row justify-content-center">
            <!-- grove settings -->
            <div class="col-md-auto text-center">                
                <div class="table-responsive">
                    <table class="table table-condensed"> 
                        <thead>
                            <tr>
                                <th scope="col" class = "m-1 p-1">
                                    Info
                                </th>
                                <th scope="col" class = "m-1 p-1">
                                    Good
                                </th> 
                                <th scope="col" class = "m-1 p-1">
                                    Location (X,Y)
                                </th>         
                                <th scope="col" class = "m-1 p-1">
                                    Drought On Period
                                </th>
                                <th scope="col" class = "m-1 p-1">
                                    Drought Level
                                </th>
                                <th scope="col" class = "m-1 p-1">
                                    Group
                                </th>
                                <th scope="col" class = "m-1 p-1">
                                    Production Levels
                                </th>                   
                            </tr>
                        </thead>
                        <tbody id="grove_list">
                            <tr v-for="(p, index) in parameter_set.parameter_set_groves_order" 
                                v-bind:key="p"
                                :set="temp_p=parameter_set.parameter_set_groves[p]"
                                >
                                <td v-on:click="show_edit_parameter_set_grove(p)" 
                                    class="player_table_cell">
                                    [[temp_p.info]]
                                </td>
                                <td v-on:click="show_edit_parameter_set_grove(p)" 
                                    class="player_table_cell">
                                    [[temp_p.good]]
                                </td>
                                <td v-on:click="show_edit_parameter_set_grove(p)" 
                                    class="player_table_cell">
                                    [[temp_p.x]], [[temp_p.y]]
                                </td>
                                <td v-on:click="show_edit_parameter_set_grove(p)" 
                                    class="player_table_cell">
                                    [[temp_p.drought_on_period]]
                                </td>
                                <td v-on:click="show_edit_parameter_set_grove(p)" 
                                    class="player_table_cell">
                                    [[temp_p.drought_level]]
                                </td>
                                <td v-on:click="show_edit_parameter_set_grove(p)" 
                                    class="player_table_cell">                                    
                                    <span v-if="temp_p.parameter_set_group && 
                                                temp_p.parameter_set_group in parameter_set.parameter_set_groups">
                                        [[parameter_set.parameter_set_groups[temp_p.parameter_set_group].name]]
                                    </span> &nbsp;

                                    <span v-bind:style="{color:temp_p.hex_color.replace('0x','#')}">
                                        [[temp_p.hex_color]]
                                    </span>
                                </td>
                                <td v-on:click="show_edit_parameter_set_grove(p)" 
                                    class="player_table_cell">

                                    <span v-for="(p2, index2) in parameter_set.parameter_set_groves[p].levels" 
                                        v-bind:key="p2"
                                        :set="temp_p2=parameter_set.parameter_set_groves[p].levels[p2]">
                                        [[p2.value]] <span v-if="index2 <= Object.keys(parameter_set.parameter_set_groves[p].levels).length-1">, </span>
                                    </span>                                    
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>  

        <div class="row justify-content-center">
            <div class="col-md-auto">
                <button class="btn btn-outline-success btn-sm"
                        type="button"
                        title="Add grove"
                        v-bind:disabled="session.started || reconnecting || working"
                        v-on:click="send_add_parameter_set_grove()">
                        Add <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        
    </div>                    
</div> 